<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
      <Header>
          <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
          <Title>Text Alignment : A header can have its text aligned to a side</Title>
          <Author> Ustes Greenridge(@codussupremus)</Author>
      </Header>
      <Snippet>
          <Code Language="html">
            <![CDATA[<div class="ui segment">
  <h3 class="ui right aligned header">
    Right
  </h3>
  <h3 class="ui left aligned header">
    Left
  </h3>
  <h3 class="ui justified header">
    This should take up the full width even if only one line
  </h3>
  <h3 class="ui center aligned header">
    Center
  </h3>
</div>]]>
          </Code>
      </Snippet>
</CodeSnippet>
</CodeSnippets>
