<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.1.0">
      <Header>
          <SnippetTypes><SnippetType>Expansion</SnippetType></SnippetTypes>
          <Title>Text Alignment : A segment cant have its text aligned to a side</Title>
          <Author> Ustes Greenridge(@codussupremus)</Author>
      </Header>
      <Snippet>
          <Code Language="html">
            <![CDATA[<div class="ui $${direction:left|center|right} aligned segment">
   
</div>]]>
          </Code>
      </Snippet>
</CodeSnippet>
</CodeSnippets>
